# This config file uses the TOML file format.

[server]
# address is the host (or host:port) which hosts your IMAP server.
# Only IMAPS is supported at the moment. This means that SSL is mandatory
# and STARTTLS does not work yet.
address = "example.org:993"

# username to authenticate with.
username = "doe@example.org"

# password to authenticate with.
password = "secret"

[mailbox]
# source specifies the name of the IMAP folder where new messages are read
# from. Only "old" mail will be processed. "old" is currently hardcoded to mean
# all mail except mail which is younger than 30 days or is still unread or
# flagged ("starred")
source = "INBOX"

# target specifies the name of the IMAP folder where processed messages
# will be moved to.
# you may specify the same name than "source" as all processed mail is automatically
# marked and protected against being processed multiple times.
target = "INBOX.Archive"

[pgp]
# path to your keyring containing your public encryption key.
encryption_key_path = "~/.gnupg/pubring.gpg"

# GPG short id of your encryption key
encryption_key_id = "12345678"

# this is the passphrase of the key used for encryption.
# the passphrase is not needed for encryption, but rather for the round-trip verification which
# decrypts the message again.
encryption_key_passphrase = ""

# path to your keyring containing your public encryption key.
# note: you may use the same key for encryption and signing when running this tool
# on a trusted machine. however, when running on untrusted systems, DO NOT store the
# private key there! instead, generate an independent signing key just for this
# purpose.
signing_key_path = "~/.gnupg/secring.gpg"

# GPG short id of your signing key
encryption_key_id = "12345678"

# this is the passphrase of your signing key
signing_key_passphrase = ""

# this is a list of mail headers which we copy from the original message in
# order to retain them as clear text. this helps ordinary mail clients
# to provide useful list views and search functionality but obviously is
# a usability/security trade-off.
#plain_headers = ["From", "To", "Cc", "Bcc", "Date", "Subject"]
